<% @productify_lists.each do |productify_list| %>
  <div class="index_row clearfix">
    <h2 class="productify_list_title"><%= link_to productify_list.title, productify_list %></h2>
    <p class="productify_list_sub_title"><%= productify_list.description %></p>
  </div>
<% end %>

<div class="links">
  <%= link_to "New Productify List", new_productify_list_path %>
</div>

